<%- include('partials/header') %>


    <div class="container">
        <div class="jumbotron centered">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">
                <%= roomName %>
            </h1>
            <h4>Anonymous</h4>

            <div id="messageContainer">
                <p id="messagesList" class="displayMsg">
                <p id="loading">Messages are loading...</p>
                </p>
            </div>
            <center>
                <input id="msgField" type="text" class="form-control text-center" name="message"
                        placeholder="Enter your message...">
                <button id="submit" class="btn btn-success send">Send</button>

            </center>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script>
                const msgList = document.getElementById("messagesList");
                let oldArrayLength = 0;
                function loadData() {
                    const URL = "/messages/" + "<%=roomName%>" + "/" + "<%=roomPassword%>";


                    const getPosts = async () => {

                        const response = await fetch(URL);
                        if (!response.ok) {
                            console.log("error!");
                        }
                        const data = await response.json(); // it will wait to resolve.
                        return data;

                    }

                    getPosts()
                        .then(mydata => {
                            document.getElementById("loading").style.display = "none";
                            if (oldArrayLength < mydata.length) {
                                removeAllChildNodes(msgList);
                                mydata.slice().reverse().forEach(element => {
                                    addmessageToList(element);
                                });
                            } else {
                                window.oldArrayLength = mydata.length;
                            }

                        })
                        .catch(error => {
                            console.log("error.");

                        });
                }
                setInterval(() => {
                    loadData();
                }, 2000);

                loadData();

                function addmessageToList(message) {
                    const msgNode = document.createElement("p");
                    msgNode.innerHTML = `[*] ${message}`;
                    msgList.appendChild(msgNode);
                }

                function removeAllChildNodes(parent) {
                    while (parent.firstChild) {
                        parent.removeChild(parent.firstChild);
                    }
                }
                function clearBox() {
                    document.msgForm.submit();
                    document.msgForm.reset();
                }
                // ajax
                $(document).ready(function () {
                    $("#submit").click(function () {
                        $.post("/chat/<%= roomName %>/<%= roomPassword %>",
                            {
                                message: `${document.getElementById("msgField").value}`
                                
                            },
                            function (data, status) {
                                console.log(data);
                            });
                            document.getElementById("msgField").value = "";
                    });
                });
                // user joined the chat.
                $(document).ready(function () {
                    // $("#submit").click(function () {
                        $.post("/chat/<%= roomName %>/<%= roomPassword %>",
                            {
                                message: "Joined the room !"
                                
                            },
                            function (data, status) {
                                console.log(data);
                            });
    
                    // });
                });

            </script>



            <%- include('partials/footer') %>